<mat-drawer-container class="drawer-container" autosize>
  @if (!showSidePanel && appName === "") {
  <span
    class="material-symbols-outlined"
    style="
      position: absolute;
      width: 24px;
      height: 24px;
      color: #c4c7c5;
      cursor: pointer;
      margin-left: 20px;
      margin-top: 20px;
      z-index: 9999;
    "
    matTooltip="Open panel"
    (click)="toggleSidePanel()"
  >
    left_panel_open
  </span>
  }
  <mat-drawer
    class="side-drawer"
    #sideDrawer
    mode="side"
    appResizableDrawer
    [opened]="showSidePanel"
  >
    <div style="margin-top: 20px; margin-left: 20px; display: flex">
      <div style="width: 100%">
        <div class="drawer-header">
          <div class="drawer-logo">
            <img src="assets/ADK-512-color.svg" width="32px" height="32px" />
            Agent Development Kit
          </div>
          <span
            class="material-symbols-outlined"
            style="color: #c4c7c5; cursor: pointer; margin-right: 15px"
            matTooltip="Collapse panel"
            (click)="toggleSidePanel()"
          >
            left_panel_close
          </span>
        </div>
      </div>
    </div>
    @if (appName != "" && showSidePanel) {
    <!-- when the 'tabs-container' class is renamed, it wont work -->
    <div class="tabs-container">
      <div class="new-chat">
        <div class="chat-item with-icon">
          <mat-icon>create</mat-icon>
          New Chat
        </div>
      </div>

      <div class="recent-chats-wrapper">
        <h2>Recent chats</h2>
        <div class="chat-item">
          <span class="chat-label">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur,
            voluptatum!
          </span>
        </div>
      </div>
    </div>
    }
    <div class="resize-handler"></div>
  </mat-drawer>
  <div class="chat-container">
    @if (appName != "") {
    <div class="chat-toolbar">
      @if (!showSidePanel) {
      <span
        class="material-symbols-outlined"
        style="
          width: 24px;
          height: 24px;
          color: #c4c7c5;
          cursor: pointer;
          margin-left: 20px;
          margin-top: -2px;
          z-index: 9999;
        "
        matTooltip="Open panel"
        (click)="toggleSidePanel()"
      >
        left_panel_open
      </span>
      }
      <div style="display: flex">
        <!-- <div class="toolbar-session-text">Session ID</div> -->
        <!-- <div class="toolbar-session-id">{{ sessionId }}</div> -->
      </div>
      <div class="toolbar-actions">
        <!-- <div class="toolbar-sse-toggle">
          <mat-slide-toggle
            class="example-margin"
            [checked]="useSse"
            (change)="toggleSse()"
          >
            Token Streaming
          </mat-slide-toggle>
        </div> -->
        <!-- <mat-divider
          [vertical]="true"
          style="margin-left: 8px; margin-right: 8px; height: 22px"
        ></mat-divider> -->
        <div style="display: flex; align-items: center">
          <div (click)="onNewSessionClick()" class="toolbar-new-sesison">
            <mat-icon>add</mat-icon>
            New Session
          </div>
        </div>
      </div>
    </div>
    }
    <mat-card class="chat-card">
      @if (!selectedAppControl.value) { @if (isLoadingApps()) {
      <div class="empty-state-container">
        <span>Loading agents, please wait...</span>
      </div>
      } @else {
      <div class="empty-state-container">
        @if (((apps$ | async) || []).length > 0) {
        <span>
          Welcome to ADK!<br />
          Select an agent on the left to begin with.
        </span>
        } @else {
        <div>
          Failed to load agents. To get started, run
          <pre>adk web</pre>
          in the folder that contains the agents.<br />
          @if (loadingError()) { Error message: <br />
          <pre class="error">{{ loadingError() }}</pre>
          } @else {
          <pre class="warning">Warning: No agents found in current folder.</pre>
          }
        </div>
        }
      </div>
      } } @else {
      <div #autoScroll class="chat-messages">
        <div class="inner-wrapper">
          <div #videoContainer></div>
          @for (message of messages; track message; let i = $index) {
          <div
            [ngClass]="{
              'user-message': message.role === 'user',
              'bot-message': message.role === 'bot'
            }"
          >
            @if (message.role === "bot") { @if(message.isLoading) {
            <span class="bot-loader"></span>
            } @else {
            <div>
              <mat-icon fontSet="material-symbols-outlined">robot_2</mat-icon>
            </div>
            } }

            <mat-card class="message-card">
              @if (message.isLoading) {
              <span>Thinking...</span>
              } @if (message.attachments) {
              <div class="attachments">
                @for (file of message.attachments; track file) {
                <div class="attachment">
                  @if (file.file.type.startsWith("image/")) {
                  <img
                    [src]="file.url"
                    alt="attachment"
                    class="image-preview-chat"
                  />
                  } @if (!file.file.type.startsWith("image/")) {
                  <mat-icon>insert_drive_file</mat-icon>
                  <a [href]="file.url" download>{{ file.file.name }}</a>
                  }
                </div>
                }
              </div>
              }
              <div>
                @if (message.text) {
                <markdown
                  class="message-text"
                  [data]="message.text"
                  [ngStyle]="{
                    'font-style': message.thought ? 'italic' : 'normal',
                    color: message.thought ? '#9aa0a6' : '#2b3136'
                  }"
                ></markdown>
                }
              </div>
              @if (message.inlineData) { @if
              (getMediaTypeFromMimetype(message.inlineData.mimeType) ===
              MediaType.IMAGE) {
              <div class="generated-image-container">
                <img
                  class="generated-image"
                  alt="image"
                  [src]="message.inlineData.data"
                  (click)="openViewImageDialog(message.inlineData.data)"
                />
              </div>
              } @else if (getMediaTypeFromMimetype(message.inlineData.mimeType)
              === MediaType.AUDIO) {
              <div>
                <app-audio-player
                  [base64data]="message.inlineData.data"
                ></app-audio-player>
              </div>
              } @else {
              <div>
                <button
                  class="link-style-button"
                  (click)="
                    openBase64InNewTab(
                      message.inlineData.data,
                      message.inlineData.mimeType
                    )
                  "
                >
                  {{ message.inlineData.displayName || 'Download File' }}
                </button>
              </div>
              } }
            </mat-card>
            <!-- @if (message.role === "user") {
            <button mat-mini-fab>
              <mat-icon>person</mat-icon>
            </button>
            } -->
          </div>
          }
        </div>
      </div>
      }
      <div class="chat-input">
        <input
          type="file"
          multiple
          hidden
          (change)="onFileSelect($event)"
          #fileInput
        />
        <mat-form-field class="input-field" appearance="outline">
          @if (selectedFiles.length && appName != "") {
          <div class="file-preview">
            @for (file of selectedFiles; track file; let i = $index) {
            <div>
              @if (file.file.type.startsWith("image/")) {
              <div class="image-container">
                <img [src]="file.url" alt="preview" class="image-preview" />
                <button
                  mat-icon-button
                  (click)="removeFile(i)"
                  class="delete-button"
                >
                  <mat-icon color="warn">close</mat-icon>
                </button>
              </div>
              } @if (!file.file.type.startsWith("image/")) {
              <div class="file-container">
                <button
                  mat-icon-button
                  (click)="removeFile(i)"
                  class="delete-button"
                >
                  <mat-icon color="warn">close</mat-icon>
                </button>
                <div class="file-info">
                  <mat-icon>insert_drive_file</mat-icon>
                  <span>{{ file.file.name }}</span>
                </div>
              </div>
              }
            </div>
            }
          </div>
          }
          <textarea
            class="chat-input-box"
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="10"
            [(ngModel)]="userInput"
            (keydown.enter)="sendMessage($event)"
            placeholder="Ask your assistant"
          ></textarea>
          <div class="chat-input-actions">
            <button
              mat-button
              (click)="fileInput.click()"
              class="attach-file-button"
              matTooltip="Upload local file"
            >
              <mat-icon>attach_file</mat-icon>
              Attach file
            </button>
            <button
              mat-icon-button
              (click)="fileInput.click()"
              class="function-event-button"
              matTooltip="Submit"
            >
              <mat-icon>send</mat-icon>
            </button>
            <!-- <div>
              <button
                mat-icon-button
                matSuffix
                (click)="toggleAudioRecording()"
                [ngStyle]="{
                  'background-color': isAudioRecording
                    ? 'rgb(234, 67, 53)'
                    : 'rgb(51, 53, 55)'
                }"
                [matTooltip]="
                  isAudioRecording ? 'Turn off microphone' : 'Use microphone'
                "
              >
                <mat-icon>mic</mat-icon>
              </button>
              <button
                mat-icon-button
                matSuffix
                (click)="toggleVideoRecording()"
                [ngStyle]="{
                  'background-color': isVideoRecording
                    ? 'rgb(234, 67, 53)'
                    : 'rgb(51, 53, 55)'
                }"
                [matTooltip]="
                  isVideoRecording ? 'Turn off camera' : 'Use camera'
                "
              >
                <mat-icon>videocam</mat-icon>
              </button>
            </div> -->
          </div>
        </mat-form-field>
      </div>
    </mat-card>
  </div>
</mat-drawer-container>
